$font-family: Roboto, sans-serif;
$primary-bg-color: #f5f6fa;
$header-bg-color: #182C61;
$menu-item-spacing: 24px;
$product-margin-top: 40px;
$product-column-gap: 1%;
$product-row-gap: 4%;
$product-button-bg: #44bd32;
$product-button-hover-bg: #4cd137;